{% extends "layout.html" %}

{% block header %}
    <div>
        header
    </div>
{% endblock %}

{% block nav %}
{% endblock %}

{% block section %}
    <div id="example">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ now }}"</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                message: 'Hello'
            },
            methods: {
                now: function () {
                    return Date.now()
                }
            }
        })
    </script>
{% endblock %}