{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block section %}
    <ul class="nav nav-tabs", style="max-width: 500px; margin: 0 auto; padding-left: 60px; padding-right: 60px">
        <li class="active"><a href="#exists_keystore" data-toggle="tab">Exists Keystore</a></li>
        <li><a href="#new_keystore" data-toggle="tab">New Keystore</a></li>
    </ul>
    <div id="keystoreTabContent" class="tab-content" , style="max-width: 500px; margin: 0 auto; padding-left: 60px; padding-right: 60px">
        <div class="tab-pane fade active in" id="exists_keystore">
            <form @submit.prevent="exists_keystore_submit" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputStorepass" class="col-lg-2 control-label">Storepass</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputStorepass" name='storepass' placeholder="Storepass">
                        </div>

                        <label for="inputAlias" class="col-lg-2 control-label">Alias</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputAlias" name='alias' placeholder="Alias">
                        </div>
                        
                        <label for="inputAlias" class="col-lg-2 control-label">Keystore File</label>
                        <div class="field">
                            <input type="file" name='file' multiple size="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="new_keystore">
            <form @submit.prevent="new_keystore_submit" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputStorepass" class="col-lg-2 control-label">Storepass</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputStorepass" name='storepass' placeholder="Storepass">
                        </div>

                        <label for="inputAlias" class="col-lg-2 control-label">Alias</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputAlias" name='alias' placeholder="Alias">
                        </div>

                        <label for="inputKeypass" class="col-lg-2 control-label">Keypass</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputKeypass" name='keypass' placeholder="Keypass">
                        </div>


                        <label for="inputCommon_name" class="col-lg-2 control-label">Common Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputCommon_name" name='common_name' placeholder="Common Name">
                        </div>

                        <label for="inputOrganization_unit" class="col-lg-2 control-label">Organization Unit</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputOrganization_unit" name='organization_unit' placeholder="Organization Unit">
                        </div>

                        <label for="inputOrganization_name" class="col-lg-2 control-label">Organization Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputOrganization_name" name='organization_name' placeholder="Organization Name">
                        </div>

                        <label for="inputLocality_name" class="col-lg-2 control-label">Locality Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputLocality_name" name='locality_name' placeholder="Locality Name">
                        </div>

                        <label for="inputState_name" class="col-lg-2 control-label">State Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputState_name" name='state_name' placeholder="State Name">
                        </div>

                        <label for="inputCountry" class="col-lg-2 control-label">Country</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputCountry" name='country' placeholder="Country">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" @click="downloadKeystore" class="btn btn-success">Download Keystore</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    
{% endblock %}

{% block footer %}
{% endblock %}

{% block template %}
{% endblock %}

{% block script %}
    <script>
       new Vue({
            el: '#exists_keystore',
            data: {
                apiUrl_exists_keystore: '/api/upload_exists_keystore',
                redirectURL: '/build'
            },
            methods: {
                exists_keystore_submit: function(event) {
                    // FormData支援把 Form 元素丟進去
                    var formData = new FormData(event.target)
                    console.log(formData)
                    this.$http.post(this.apiUrl_exists_keystore, formData)
                        .then(function (response) {
                            window.location.href = this.redirectURL;
                    }, function (err) {
                        alert('Keystore Error')
                        console.log(err)
                    })
                }
            }
        })

        new Vue({
            el: '#new_keystore',
            data: {
                apiUrl_new_keystore: '/api/new_keystore',
                redirectURL: '/build',
                downloadUrl_keystore: '/download/keystore',
            },
            methods: {
                new_keystore_submit: function(event) {
                    // FormData支援把 Form 元素丟進去
                    var formData = new FormData(event.target)
                    console.log(formData)
                    this.$http.post(this.apiUrl_new_keystore, formData)
                        .then(function (response) {
                        alert('Create keystore success!')
                    }, function (err) {
                        alert('Keystore Error')
                        console.log(err)
                    })
                },
                downloadKeystore: function(event) {
                     window.location.href = this.downloadUrl_keystore
                },
            }

        })
    </script>
{% endblock %}