<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/vue.js"></script>
        <script src="../static/js/vue-resource@1.3.3.js"></script>
        <title>APK-Modified Web</title>
        {% block head %}{% endblock %}
    </head>

    <body class="">
        <header>
        </header>

        <nav id="main_nav">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" @click="goHome">APK-Modified Web</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav">
                            <li>
                                <a @click="goUpload">Upload</a>
                            </li>
                            <li>
                                <a @click="goModification">Modification</a>
                            </li>
                            <li>
                                <a @click="goKeystore">Keystore</a>
                            </li>
                            <li>
                                <a @click="goBuild">Build</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="emulator">Emulator<span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="emulator">
                                    <li>
                                        <a @click="goEmulator">start emulator</a>
                                    </li>
                                    <li>
                                        <a @click="goinstall">install apk</a>
                                    </li>
                                    <li>
                                        <a @click="golog">log</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <header>
            {% block header %}{% endblock %}
        </header>

        <nav>
            {% block nav %}{% endblock %}
        </nav>

        <section>
            {% block section %}{% endblock %}
        </section>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
    <script>
        var main_nav = new Vue({
            el: '#main_nav',
            data: {
                redirectURL_indx: '/',
                redirectURL_uplaod: '/upload',
                redirectURL_modification: '/modification',
                redirectURL_keystore: '/keystore',
                redirectURL_build: '/build',
                redirectURL_emulator: '/emulator',
                redirectURL_install: '/install',
                redirectURL_log: '/log',
            },
            methods: {
                goHome: function () {
                    window.location.href = this.redirectURL_indx
                },
                goUpload: function () {
                    window.location.href = this.redirectURL_uplaod
                },
                goModification: function () {
                    window.location.href = this.redirectURL_modification
                },
                goKeystore: function () {
                    window.location.href = this.redirectURL_keystore
                },
                goBuild: function () {
                    window.location.href = this.redirectURL_build
                },
                goEmulator: function () {
                    window.location.href = this.redirectURL_emulator
                },
                goinstall: function () {
                    window.location.href = this.redirectURL_install
                },
                golog: function () {
                    window.location.href = this.redirectURL_log
                },

            }
        })
    </script>
    {% block template %}{% endblock %}
    {% block script %}{% endblock %}
    
</html>
