{% extends "layout.html" %}

{% block header %}
<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.33);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        max-width: 500px;
        margin: 0px auto;
        background-color: #222222;
        padding: 20px 30px;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        transition: all .3s ease;
    }
</style>
{% endblock %}

{% block nav %}
    <div id="file_list"  class="col-md-4">
        <div class="panel panel-default" style="max-width:300px;">
            <div class="panel-heading">
                File List
            </div>
            <div class="panel-body">
                <!-- left button -->
                <button type="button" class="btn btn-primary btn-xs" aria-label="Preceding Layer" @click="getParent">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="True"></span>
                </button>
                
                <button type="button" class="btn btn-success btn-xs" aria-label="Add" @click="showAddModal = true">
                    <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="True"></span>
                </button>
                <modal_add id="add_file" v-if="showAddModal" @close="showAddModal = false"></modal_add>
               
                <button type="button" class="btn btn-danger btn-xs" aria-label="Remove" @click="showRemoveModal = true">
                    <span class="glyphicon glyphicon-minus" aria-hidden="True"></span>
                </button>
                <modal_remove id="add_file" v-if="showRemoveModal" @close="showRemoveModal = false"></modal_remove>

                <!-- right button -->
                <button type="button" class="pull-right btn btn-info btn-xs" aria-label="Update Java Code"  @click="CallUpdateJavaCode">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="True"></span> Update Java Code
                </button>
            </div>

            <!-- List group -->
            <ul class="list-group" style="max-height:300px;overflow-x:hidden;overflow-y:auto;">
                <div v-for="(data, index) in treeData" >
                    <div v-if="data.type === 'directory'">
                        <button type="button" class="list-group-item" v-on:click="getChildren(index)">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"> {{ data.name }}</span>
                        </button>
                    </div>
                    <div v-else-if="data.type === 'file'">
                        <button type="button" class="list-group-item" v-on:click="getChildren(index)">
                            {{ data.name }}
                        </button>
                    </div>
                </div>
            </ul>
            <!-- List group end -->
        <div>
    </div>
{% endblock %}

{% block section %}
    <div id="section_nav" class="col-md-8">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#code_tab" data-toggle="tab">Code</a>
            </li>
            <li>
                <a href="#java_tab" data-toggle="tab">Java</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="code_tab">
                <!-- code -->
                <div id="code">
                    <div class="col-md-6">
                        <p>Origin</p>
                        <div style="height: 400px">
                            <editor editor-id="origin" :content="content_origin"></editor>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p>Modification 
                        <button type="button" class="pull-right btn btn-success btn-xs" aria-label="Save This"  @click="CallSaveFile">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="True"></span>
                        </button> </p>
                        <div style="height: 400px">
                            <editor editor-id="modification" :content="content_modification" v-on:change-content="changeContent_modification"></editor>
                        </div>
                    </div>
                </div>
                <!-- code end -->
            </div>
            <div class="tab-pane fade" id="java_tab">
                <div id="java_code">
                    <div class="col-md-12">
                        <div style="height: 400px; max-width: 800px;">
                            <Java_view view-id="java" :content="content_java"></Java_view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block template %}
    <!-- template for the modal of add file -->
    <script type="text/x-template" id="modal_add_file-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="$emit('close')">&times;</button>
                            <h4 class="modal-title">Add File</h4>
                        </div>
                    
                        <form @submit.prevent="submit_add_file" class="form-horizontal">
                            <div class="modal-body">
                                <fieldset>
                                    <label for="inputFile_name" class="col-lg-2 control-label">File Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputFile_name" name='file_name' placeholder="File Name">
                                    </div>

                                    <label for="textArea" class="col-lg-2 control-label">File Content</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" id="textArea" name='file_content' placeholder="File Content"></textarea>
                                        <span class="help-block"></span>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" @click="$emit('close')">Close</button>
                                <button type="submit" class="btn btn-primary" @click="$emit('close')">Add File</button>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!-- template for the modal remove file -->
    <script type="text/x-template" id="modal_remove_file-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <button type="button" class="close" @click="$emit('close')">&times;</button>
                            <h4 class="modal-title">Remove File</h4>
                        </div>

                        <div class="modal-body">
                                Are you sure delete {{file_name}} ?
                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click="$emit('close')">Close</button>
                            <button type="submit" class="btn btn-primary" @click="submit_remove_file(); $emit('close')">Remove File</button>
                        </div>
                    
                    </div>
                </div>
            </div>
        </transition>
    </script>
{% endblock %}

{% block script %}
    <script src="../static/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
    // modal add
    Vue.component('modal_add', {
        template: '#modal_add_file-template',
        data: function() {
            return {apiUrl_add_file: '/api/add_file'}
        },
        methods: {
            submit_add_file: function() {
                // FormData支援把 Form 元素丟進去
                var formData = new FormData(event.target)
                var dir_path = file_list.dir_path
                formData.append("dir_path", dir_path)
                this.$http.post(this.apiUrl_add_file, formData)
                    .then(function (response) {
                        alert("Add file success!")
                        file_list.AddObjToTreeData(response.data)
                }, function (err) {
                    alert('Add file Error')
                    console.log(err)
                })
            }
        },
    })
    /////////////////////////////////////

    // modal add
    Vue.component('modal_remove', {
        template: '#modal_remove_file-template',
        data: function() {
            return {
                file_name: file_list.current_file_object.name,
                apiUrl_remove_file: '/api/remove_file'
            }
        },
        methods: {
            submit_remove_file: function() {
                this.$http.put(this.apiUrl_remove_file, file_list.current_file_object,
                    {headers: {'Content-Type':'application/json; charset=UTF-8'}})
                    .then(function (response) {
                        alert("remove file success!")
                        file_list.RemoveObjOfTreeData(file_list.current_file_object)
                }, function (err) {
                    alert('remove file Error')
                    console.log(err)
                })
            }
        },
    })
    /////////////////////////////////////

    // file list
    const file_list = new Vue({
        el: '#file_list',
        data: {
            dir_path: "",
            treeData: [],
            current_file_object: null,
            apiUrl_tree_data: '/api/treeData',
            apiUrl_save_file: '/api/save_file',
            showAddModal: false,
            showRemoveModal: false
        },
        methods: {
            getTreeData: function () {
                this.$http.get(this.apiUrl_tree_data)
                    .then(function (response) {
                    this.dir_path = response.data.path
                    this.treeData = response.data.children
                }, function (err) {
                    console.log(err)
                })
            },
            getChildren: function (index) {
                if (this.treeData[index].type == "directory") {
                    parent = {
                        "name": "⇚", 
                        "type": "parent",
                        "parent": this.treeData,
                        "dir_path": this.dir_path
                    }
                    this.dir_path = this.treeData[index].path
                    this.treeData = this.treeData[index].children
                    this.treeData.push(parent)
                    this.initCurrentFileObject()
                }
                else if (this.treeData[index].type == "file") {
                    this.current_file_object = this.treeData[index]
                    this.setCurrentFileObject()
                }
            },
            getParent: function () {
                index = this.treeData.length - 1
                if (this.treeData[index].type == "parent") {
                    parent = this.treeData.pop(index)
                    this.dir_path = parent.dir_path
                    this.treeData = parent.parent
                    this.initCurrentFileObject()
                }
            },
            initCurrentFileObject: function() {
                this.current_file_object = null
                code.content_origin = ''
                code.content_modification = ''
                java_code.content_java = ''
            },
            setCurrentFileObject: function() {
                code.content_origin = this.current_file_object.content
                code.content_modification = this.current_file_object.modification_content
                java_code.getJavaCode(this.current_file_object.path)
            },
            SaveFile: function() {
                this.$http.put(this.apiUrl_save_file, this.current_file_object, 
                    {headers: {'Content-Type':'application/json; charset=UTF-8'}})
                    .then(function () {
                    this.current_file_object.content = this.current_file_object.modification_content
                    this.setCurrentFileObject()
                    alert("Save success!!")
                }, function (err) {
                    console.log(err)
                })
            },
            AddObjToTreeData: function(obj_data) {
                this.treeData.splice(-1, 0, obj_data)
                index = this.treeData.indexOf(obj_data)
                this.current_file_object = this.treeData[index]
                this.setCurrentFileObject()
            },
            RemoveObjOfTreeData: function(obj_data) {
                index = this.treeData.indexOf(obj_data)
                this.treeData.splice(index, 1)
                this.initCurrentFileObject()
            },
            CallUpdateJavaCode: function(){
                java_code.UpdateJavaCode()
            }
        }, 
        mounted() { this.getTreeData() }
    })
    /////////////////////////////////////

    // code
    Vue.component('Editor', {
        template: '<div :id="editorId" style="width: 100%; height: 100%;"></div>',
        props: ['editorId', 'content', 'lang', 'theme'],
        data () {
            return {
                editor: Object,
                beforeContent: ''
            }
        },
        watch: {
            'content' (value) {
                if (this.beforeContent !== value) {
                    this.editor.setValue(value, 1)
                }
            }
        },
        mounted () {
                const lang = this.lang || 'text'
                const theme = this.theme || 'monokai'
            
                this.editor = window.ace.edit(this.editorId)
                this.editor.setValue(this.content, 1)
                
                this.editor.getSession().setMode(`ace/mode/${lang}`)
                this.editor.setTheme(`ace/theme/${theme}`)

                this.editor.on('change', () => {
                    this.beforeContent = this.editor.getValue()
                    this.$emit('change-content', this.editor.getValue())
                })
            }
        })


    const code = new Vue({
        el: "#code",
        data: {
            content_origin: '',
            content_modification: '',
            apiUrl_save_modification: '/api/save_modification'
        },
        methods: {
            changeContent_modification (val) {
                if (this.content_modification !== val) {
                    this.content_modification = val
                    file_list.current_file_object.modification_content = val
                    this.$http.put(this.apiUrl_save_modification, file_list.current_file_object, 
                        {headers: {'Content-Type':'application/json; charset=UTF-8'}})
                        .then(function () {
                    }, function (err) {
                        console.log(err)
                    })
                }
            },
            CallSaveFile: function() {
                file_list.SaveFile()
            }
        }
    })
    ////////////////////////////////////////

    // code
    Vue.component('Java_view', {
        template: '<div :id="viewId" style="width: 100%; height: 100%;"></div>',
        props: ['viewId', 'content', 'lang', 'theme'],
        data () {
            return {
                view: Object,
                beforeContent: ''
            }
        },
        watch: {
            'content' (value) {
                if (this.beforeContent !== value) {
                    this.view.setValue(value, 1)
                }
            }
        },
        mounted () {
                const lang = this.lang || 'java'
                const theme = this.theme || 'monokai'
            
                this.view = window.ace.edit(this.viewId)
                this.view.setValue(this.content, 1)
                
                this.view.getSession().setMode(`ace/mode/${lang}`)
                this.view.setTheme(`ace/theme/${theme}`)

                this.view.on('change', () => {
                    this.beforeContent = this.view.getValue()
                    this.$emit('change-content', this.view.getValue())
                })
            }
        })


    const java_code = new Vue({
        el: "#java_code",
        data: {
            content_java: '',
            apiUrl_getJavaCode: '/api/get_java_code',
            apiUrl_updateJavaCode: '/api/update_java_code'
        },
        methods: {
            getJavaCode: function(path) {
                this.$http.post(this.apiUrl_getJavaCode, {'path': path}, 
                        {headers: {'Content-Type':'application/json; charset=UTF-8'}})
                    .then(function (response) {
                    this.content_java = response.data.java_code
                }, function (err) {
                    console.log(err)
                })
            },
            UpdateJavaCode: function() {
                this.$http.put(this.apiUrl_updateJavaCode)
                    .then(function (response) {
                    alert('Update Java Code success!!')
                    this.getJavaCode(file_list.current_file_object.path)
                }, function (err) {
                    console.log(err)
                })
            }
        }
    })
    ////////////////////////////////////////
    </script>
{% endblock %}