{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block section %}
    <div id="reinstall" class="jumbotron", style="max-width: 500px; margin: 0 auto; padding-left: 60px; padding-right: 60px">
        <h2>Reinstall APK</h2>
        <form @submit.prevent="submit" class="form-horizontal">
            <fieldset>
                <div id="start_emulator_list" class="form-group">
                    <p>
                        <select class="form-control" v-model="selected">
                            <option v-for="option in options" v-bind:device="option.device">
                                {{ option.device }}
                            </option>
                        </select>
                    </p>
                    <p>
                        <span>Selected: {{ selected }}</span>
                    </p>
                    <p>
                        <button  class="btn btn-success" v-on:click="reinstallAPK">reinstall</button>
                    </p>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block template %}
{% endblock %}

{% block script %}
    <script>
        new Vue({
            el: '#start_emulator_list',
            data: {
                selected: '',
                options: [],
                apiUrl: "/api/getStartEmulatorDevices",
                apiUrl2: "/api/reinstallAPK"
            },
            methods: {
                getStartEmulatorDevices: function () {
                    this.$http.get(this.apiUrl)
                        .then(function (response) {
                            this.options = response.data
                    }, function (err) {
                        console.log(err)
                    })
                },
                reinstallAPK: function () {
                    let device = this.selected;
                    if (device != '') {
                        this.$http.put(this.apiUrl2, device) 
                            .then(function (response) {
                            alert("Reinstall success!!")
                        }, function (err) {
                            console.log(err)
                        })
                    }
                }
            }, 
            mounted() { this.getStartEmulatorDevices() }
        })
    </script>
{% endblock %}