{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block section %}
    <div id="file_list">
        <div class="panel panel-default" style="max-width:300px;">
            <div class="panel-heading">
                File List
            </div>
            <div class="panel-body">
            </div>

            <!-- List group -->
            <ul class="list-group" style="max-height:300px;overflow-x:hidden;overflow-y:auto;">
                <button type="button" class="list-group-item" v-for="(data, index) in treeData" v-on:click="getChildren(index)">
                    {{ data.name }}
                </button>
            </ul>
        <div>
    </div>
    
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#file_list',
        data: {
            message: 'Hello Vue!',
            treeData: {},
            apiUrl: '/api/treeData'
        },
        methods: {
            getTreeData: function () {
                this.$http.get(this.apiUrl)
                    .then(function (response) {
                        this.treeData = response.data.children
                }, function (err) {
                    console.log(err)
                })
            },
            getChildren: function (index) {
                this.treeData = this.treeData[index].children
            }
        }, 
        mounted() { this.getTreeData() }
    })
</script>
{% endblock %}